# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd
data = pd.read_csv('Python_6_pandas_basics/ml-20m/ratings.csv')

In [2]:
data.head()
# best_movies = data[ data.rating == 5]
data[ data.rating == 5]['movieId'].value_counts(normalize=True).head(1)

318    0.011004
Name: movieId, dtype: float64

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
def baltic(country):
    if country in ['Lithuania', 'Latvia', 'Estonia']:
        return 'baltic'
    return 'other'

data2 = pd.read_csv('Python_6_pandas_basics/power.csv')
data2['baltic'] = data2.country.apply(baltic)
data2_filter1 = data2[(data2.quantity >= 0) & 
                      (data2.baltic == 'baltic') & 
                      (data2.category.isin([4,12,21])) & 
                      (data2.year <= 2010) & (data2.year >= 2005)]
# data2.head()
# data2_filter1.head()
data2_filter1.quantity.sum()

240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [4]:
data_html = pd.read_html('https://codificator.ru/code/mobile/', encoding='utf-8', na_values=['#НД'])

for i in range(len(data_html)):
    try:
        display(data_html[i].sort_values('Оператор').head())
        data_codes = data_html[i]
    except:
        display(data_html[i].head())

,№,Оператор,Коды,Всего номеров
1,2,АКОС,"902, 950, 952, 994",620 тыс.
4,5,АПЕКС,901,60 тыс.
6,7,АСВТ,997,2 млн.
0,1,Аврора Телеком,958,10300
2,3,Акционерное общество Севастополь Телеком,978,23 тыс.

        Бренд                        Компания (юридическое лицо)  \
        Бренд                                    Полное название
0      Билайн         Публичное акционерное общество «ВымпелКом»
1         МТС  Публичное акционерное общество «Мобильные Теле...
2       Теле2  Общество с ограниченной ответственностью «Т2 М...
3  СберМобайл  Общество с ограниченной ответственностью «Сбер...


                                    Краткое название
0  ПАО «ВымпелКом»(входит в группу компаний VEON ...
1                                          ПАО «МТС»
2                                    ООО «Т2 Мобайл»
3                             ООО «Сбербанк-Телеком»

In [5]:
def find_operator(data, code):
    return data[data['Коды'].str.contains(code)]
    
find_operator(data_codes, '912')

,№,Оператор,Коды,Всего номеров
44,45,МТС,"901, 902, 904, 908, 910, 911, 912, 913, 914, 9...",171 млн.
53,54,Ростелеком,"901, 902, 912, 930, 939, 955, 958, 970, 971, 9...",7 млн.